{% extends "lachesis/base.html" %}
{% load staticfiles %}

{% block title_block %}
	{{ genre.name }}
{% endblock %}

{% block body_block %}
	{% if genre %}
		<h1>{{ genre.name }}</h1>
		{% if stories_genre %}
			<u1>
			{% for story in stories_genre %}
				<li><a href="{% url 'show_story' story.slug %}">{{ story.title }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>No stories currently in genre.</strong>
		{% endif %}

		<li>
			<a href="{% url 'add_story' genre.slug %}">Add a Story</a><br/>
		</li>

	{% else %}
		The specified genre does not exist!
	{% endif %}
	</div>
{% endblock %}
