{% extends "lachesis/base.html" %}
{% load staticfiles %}

{% block title %}
	Index
{% endblock %}

{% block body_block %}
	<div>
		<h1> </h1>
			{% if user.is_authenticated %}
				<div class="col-md-12" align="centre">
					<div>
						<h3>Most Voted Stories</h3>
					</div>

				{% if stories_liked %}
					<ul class="list-group">
						{% for story in stories_liked %}
								<button type="button" class="list-group-item" href="{% url 'show_story' story.slug %}"> <a>{{ story.title }}</a>
								<span class="badge">{{ story.genre }}</span></button>
							</ul>
						{% endfor %}
					</ul>
				{% else %}
					<strong>There are no stories present.</strong>
				{% endif %}
				</div>
			{% else %}
				<h3><strong>Welcome to Lachesis!</strong></h3>
				<img src="{% static "images/lachesis.jpg" %}" alt="Picture of Lachesis" />
			{% endif %}
		</div>


{% endblock %}
