{% extends "lachesis/base.html" %}
{% load staticfiles %}

{% block title %}
	Index
{% endblock %}

{% block body_block %}
	<div>
		<h1>Lachesis</h1>
			{% if user.is_authenticated %}
				hello author {{ user.username }}!
			{% else %}
				hey there author
			{% endif %}
		</div>

		<div>
			<div>
				<h3>Most Liked Genres</h3>
			</div>

		{% if genres %}
		<ul>
			{% for genre in genres %}
			<li>
				<a href="{% url 'show_genre' genre.slug %}">{{ genre.name }}</a>
			</li>
			{% endfor %}
		</ul>
		{% else%}
			<strong>There are no genres present.</strong>
		{% endif %}
		</div>

		<div>
			<div>
				<h3>Most Viewed Pages</h3>
			</div>

		{% if stories %}
		<ul>
			{% for story in stories %}
			<li><a href="{{ story.url }}">{{ story.title }}</a></li>
			{% endfor %}
		</ul>
		{% else%}
			<strong>There are no genres present.</strong>
		{% endif %}
		</div>

			<p> visits: {{ visits }}</p>
			<img src="{% static "images/lachesis.jpg" %}" alt="Picture of lachesis" />
{% endblock %}
