{% extends "lachesis/base.html" %}
{% load staticfiles %}

{% block title %}
	Index
{% endblock %}

{% block body_block %}
	<div>
		<h1> </h1>
			{% if user.is_authenticated %}
				<div>
					<div>
						<h3>Most Voted Stories</h3>
					</div>

				{% if stories_liked %}
					<ul>
						{% for story in stories_liked %}
							<li><a href="{{ story.url }}">{{ story.title }}</a></li>
						{% endfor %}
					</ul>
				{% else%}
					<strong>There are no stories present.</strong>
				{% endif %}
				</div>
			{% else %}
				<h3><strong>Welcome to Lachesis!</strong></h3>
				<img src="{% static "images/lachesis.jpg" %}" alt="Picture of Lachesis" />
			{% endif %}
		</div>

		
{% endblock %}
