{% extends "lachesis/base.html" %}
{% load staticfiles %}

{% block title_block %}
	{{ story.title }}
{% endblock %}

{% block body_block %}
	{% if story %}
	
		<h3>{{ story.title }}</h3>
		
		{% if segments_story %}
			<u1>
			{% for segment in segments_story %}
				<li><a href="{% url 'show_segment' segment.slug %}">{{ segment.segment_number }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>No segments currently in story.</strong>
		{% endif %}

		<li>
			<a href="{% url 'add_segment' story.slug %}">Add Segment</a><br/>
		</li>

	{% else %}
		The specified story does not exist!
	{% endif %}
	</div>
{% endblock %}
