{% extends 'lachesis/base.html' %}
{% load staticfiles %}

{% block body_block %}
<link href="{% static "css/login.css" %}" rel="stylesheet">
<div class="container" align="centre">
<div id="content" class="container">
	<p id="websiteTitle">Lachesis</p>
	<p id="websiteSlogan">Interactive Storytelling - Login</p>
</div>

	<form id="login_form" method="post" action="{% url 'login' %}">
	
	{% csrf_token %}
	Username: <input type="text" name="username" value="" size="50" />
	<br />
	Password: <input type="password" name="password" value="" size="50" />
	<br />
	<input type="submit" value="submit" />
	</form>

{% endblock %}
</div>
</div>